/*项目主要色调*/
$main-color: #E7742B;
$border-color-grey: #eee;
$text-color-grey: #8b8b8b;
$color-light: #fff;
$color-dark: #000;
$color-blue: #4559A5;
$bg-dark: #3A3C48;
$bg-grey: #F4F5F7;
$bg-light: $color-light;


/*主要字体大小*/
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font24{
  font-size: 24px;
}
.font26{
  font-size: 26px;
}
.font30{
  font-size: 30px;
}
.font36{
  font-size: 36px;
}
.font40{
  font-size: 40px;
}
/*设计稿尺寸内容宽度*/
.w1240{
  width: 1240px;
  margin: 0 auto;
}
